<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DietGuru</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <script src="https://cdn.timekit.io/booking-js/v2/booking.min.js" defer></script>

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/home',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/home">DietGuru</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#developers">DEVELOPERS</a></li>
          <li><a href=#login>LOGIN</a></li>
          <li><a href=/> REGISTER</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>DietGuru</span></h1>
          <h2>Your health is our health!</h2>

        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=TYle6cWaAfo" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="https://cdn.aarp.net/content/dam/aarp/health/caregiving/2018/03/1140-nutrients-food-loved-ones-caregiving.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 content">
            <div class="section-title">
              <h2>Vision</h2>
            </div>
            <span>
              MyDietGuru’s vision is to continuously make a positive difference in
              people’s lives through diet, nutrition, and psychology-based informative interventions.
            </span>
            <br>
            <div class="section-title">
              <br>
              <h2>Mission</h2>
            </div>
            <span>
              Enable anyone seeking help with her / his diet plans as well as insights into mental well-being, to easily find and access the required and correct information from competent sources, to be able to live healthily and happily.
            </span>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= developers Section ======= -->
    <section id="login" class="login">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Login</h2>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <form id="form" method="post" >
                <input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                <input type="submit" value="Login" class="btn btn-success">
              </form>
            </div>
            <div class="mssg bg-danger">
              <span id="check" ></span>
            </div>
            <div id="LangTable"><a href="/home" id="aa"></a>
            </div>
            <div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
            <div><span>Create a new Account?</span><a href="/">Register here</a>
        
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End login Section -->
    

    <!-- ======= developers Section ======= -->
    <section id="developers" class="developers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Developers</h2>
          <p>Our Website Developers</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Athmika Hebbar</h4>
                  <span>Designer & Developer</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="feed.xml"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Riddhi Doshi</h4>
                  <span>Designer & Developer</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End developers Section -->
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>DietGuru</h3>
                <strong>Phone:</strong> +91 7506071803<br>
                <strong>Email:</strong> riddhi.rd@somaiya.edu/athmika.h@somaiya.edu<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="feed.xml" class="linkedin"><i class="bx bx-rss"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DietGuru</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">us</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
</body>

</html>